<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="./CSS/pageindexfooter.css">
    <link rel="stylesheet" href="./CSS/shop.css">
</head>
<body>
    <div id="content-wrap">

        <div class="modal divmesg2" id="idivmesg2">
            <div class="message-content mesg2">
                <span id="mycard"></span>
                <div id="cardResults"></div>
            </div>
            <button class="btn mesgbtn" onclick="imsgbtn()">確認</button>
        </div>
        
        <div id="content-wrap1">
            <div class="modal divmesg1" id="idivmesg1">
                <div class="message-content mesg1">
                    <span id="mycard1"></span>
                </div>
                <button class="btn mesgbtn1"  onclick="imsgbtn1()">確認</button>
            </div>
        </div> 

        <div id="title">
            <div class="logo">
                <label for=""><img src="/images/logo.png" width="70px" height="70px"></label>
            </div>
            <div class="menu">
                <a id="meun-shop" href="">抽卡</a>
                <a id="meun-bag" href="">背包</a>                
                <a id="meun-mining"href="">礦場</a>
                <a id="meun-play" href="">對戰</a>
                <a id="meun-book"href="">圖鑑</a>
            </div>
            
            <div id="right">
                <button class="logo-button"><a href="https://www.twitter.com">X</a></button>
                <button class="logo-button"><a href="https://zh-tw.facebook.com">FB</a></button>
                <button class="logo-button">Share</button>
                <button class="logo-button"><a href="https://www.google.com">Google</a></button>
                <button class="logo-button"><a href="https://github.com/">Github</a></button>
                {{#if loggedIn}}
                    <button class="logo-button"><a href="/" id="logout">登出</a></button>
                {{else}}
                    <button class="logo-button"><a href="/login" id="login">登入</a></button>
                {{/if}}
                <button class="logo-button"><a href="/register">註冊</a></button>
                
                <select class="language-select">
                    <option value="zh-TW">繁體中文</option>
                    <option value="en-US">English</option>
                </select>                
            </div>
        </div>

        <div class="full-width-photo">

            <div class="mesg">
                <label for="">錢包</label><br>
                <span id="coins">{{ coins }}</span>
                {{!-- {{#if loggedIn}}
                    <span>已登录</span>
                {{else}}
                    <span>未登录</span>
                {{/if}} --}}
                <!-- 其他标签... -->
                <label for="">卡片</label><br>
                <span for="" id="pn"> {{totalCards}}</span>
                <label for="">傳說</label><br>
                <label for="" id="cardACount">{{cardACount}}</label>
            </div>

            <img src="/images/bgg.png" alt="A beautiful scenery">
            <div class="image-text">遊戲商店</div>

            <img src="/images/ball.png" alt="A ball" id="ball">
            <div class="input-section">
                <button id="decrement" class="input-button">-</button>
                <input type="number" id="myInput"  min="1" value="1" placeholder="請輸入數字">
                <button id="increment" class="input-button">+</button>
            </div>
            <button id="calculate" class="bright" onclick="drawCard1()">花費: <span id="cost">10</span>金幣</button>
            
            <img src="/images/MasterBall.png" id="Mball">
            <div class="input-section2">
                <button id="decrement2" class="input-button">-</button>
                <input type="number" id="myInput2"  min="1" value="1" placeholder="請輸入數字">   
                <button id="increment2" class="input-button">+</button>
            </div>
            <button id="calculate" class="bleft" onclick="drawCard2()">花費: <span id="cost2">20</span>金幣</button>
        
    </div>
    <div style="display: none;">
        <p>當前資源金幣: <span id="totalResources">{{totalResources}}</span></p>
        <p>資產產出: <span id="resourceRate">{{totalResourceRate}}</span> 金幣/秒</p>
    </div>
    <footer>
        <p>版權 © 2023 叉燒公司</p>
        <a href="#top">返回頂部</a>
    </footer>
 
    <script src="/js/game.js"></script>     
    <script src="./js/pageindex.js"></script> 
    <script src="./js/drawcard.js"></script>
    <script>
        getCoinsAndCardsFromServer()
    </script>
    <script src="./js/min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    // 獲取用户ID
    const userIdElement = document.getElementById('ID');
    const userId = userIdElement ? userIdElement.textContent : null;
    
     
    // 獲取資源
    getResourceRate(userId);

    // 開始挖礦
    startMining();

    fetchTotalResourcesFromDatabase();
});
     

</script> 
</body>
</html> 
